body, * {
  background-color: black;
  font-family: Helvetica, Arial, monospace;
}

.tile {
  background-color: white;
  display: inline-block;
  width: 75px;
  height: 75px;
  border: 2px solid black;
  margin-left: 15px;
}

.tile h1 {
  color: black;
  background-color: white;
  display: inline;
  font-size: 65px;
  margin: 15px;
}

.game {
  margin: 33%;
}
